<!-- ======= Header ======= -->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">

            <a href="/" class="scrollto">T.M.S</a>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="{% block home %}
          {% endblock home %}"><a href="/">Home</a></li>

                <li><a href="/allIncidents">Incidents</a></li>
                <li><a href="/allRequests">Requests</a></li>
                <li><a href="/allChanges">Changes</a></li>
                <li><a href="/allTeams">Teams</a></li>
                <li><a href="/allEmployees">Employees</a></li>
                <li><a href="/allManagers">Managers</a></li>
                <li><a href="/allSprints">Sprints</a></li>




            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- End Header -->