<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{% block title %}
        {% endblock title %}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    {% block style %}
    {% endblock style %}
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="static/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet">
    <link href="static/assets/css/mystyle.css" rel="stylesheet">


</head>


<body>
    {% include 'header.html' %}

   
    <!-- ======= Header ======= -->
    <!-- <div class="container">
        <div class="row">
            <label>Buscar:</label><input type="text" onkeyup="filter(event)">
            <table id="easy-table" class="table table is-striped is-bordered ">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>Gere</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div id="paginator"></div>
        </div>

    </div> -->
    <div class="container table-top">
        <div class="card shadow my-5">
            <h4 class="card-header">Teams</h4>
            <div class="card-body">
                <form class="mb-3">
                    <label for="searchBox">Search table</label>
                    <input type="text" onkeyup="filter(event)" id="searchBox" name="searchBox" class="form-control">
                    <small class="form-text feedback"></small>
                </form>
                <table id="easy-table"
                    class="table table-searchable table-striped table-bordered table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Last name</th>
                            <th>Email</th>
                            <th>Gere</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div id="paginator"></div>
            </div>
            <div class="card-footer"></div>
        </div>

    </div>

    <script src="static/assets/js/script.js"></script>

    <script src="static/assets/js/main.js"></script>
    <script type="text/javascript">
        var data='{{data|tojson|safe}}'
        var headings='{{headings|tojson|safe}}'
        headings=JSON.parse(headings)
        // data = JSON.stringify(data)
        var data=JSON.parse(data)
        var type='{{type|safe}}'
        var data1=[];
        for(let i=0;i<data.length;i++){
            row={}
            for(let j=0;j<headings.length;j++){
                row[headings[j]]=data[i][j];
            }
            data1.push(row)
        }

console.log(data1)
        // required options
        const options = {
            tableId: 'easy-table',
            currentPage: 1,
            perPage: 10,
            autoHeaders: true,
            arrowUp: '⇑',
            arrowDown: '⇓',
            previousText: '&#10094',
            nextText: '&#10095',
            type: type
        }
        console.log(options)
        setTable(data1, options);

    </script>

</body>

</html>